    <div class="footer"></div>
    <script>
        if (browser = "html5") {
            var done = false,
                script = document.createElement('script');
            script.src = "<%= pathStatic %>/<%= vocab_dir %>/js/lib/vendors/require/require-2.1.0.js";
            script.type = "text/javascript";
            script.onload = script.onreadystatechange = function() {
                if ( !done && (!this.readyState || this.readyState === "loaded" || this.readyState === "complete") ) {
                    done = true;
                    require.config({
                        urlArgs: "v=<%= version %>"
                    });
                    // "http://news.bbcimg.co.uk/news/special/shared/translations/country_names/v1/english.js"
                    require(['<%= pathStatic %>/<%= vocab_dir %>/js/all-'+browser+'.js'], function () {
                        require(['app', "http://news.bbcimg.co.uk/news/special/shared/translations/country_names/v1/<%= vocab_dir %>.js"], function (app, countryNames) {
                            app.init('<%= storyPageUrl %>', countryNames);
                        });
                    });
                }
            }
            document.body.appendChild(script);
        }
    </script>
</body>
</html>